@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,400;0,500;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    font-family: Raleway;
    line-height: 1.5;

    color-scheme: light dark;
    color: white;
    background-color: black;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

*{
    box-sizing: border-box;
}

*::-webkit-scrollbar {
    height: 8px;
    width: 8px;
}

*::-webkit-scrollbar-track {
    padding: 0;
    border-left: 2px solid #303030;
    background-color: black;
}

*::-webkit-scrollbar-thumb {
    background-color: #303030;
}

*::-webkit-scrollbar-thumb:hover {
    background-color: #B0B0B0;
}

*::-webkit-scrollbar-thumb:active {
    background-color: #B0B0B0;
}

body {
    margin: 0;
    padding: 0;
}

.spacer {
    margin-top: auto;
    margin-bottom: auto;
}

.container {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
}

section {
    overflow-x: clip;
    height: 100vh;
    height: 100dvh;
    padding: 8px;
    scroll-snap-align: start;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.header {
    margin: 8px;
    font-family: Kanit;
    font-style: italic;
    justify-self: center;
    font-size: clamp(2em, 10vw, 4em);
    line-height: 1.1;

    animation: fade-out linear forwards;
    animation-timeline: view();
    animation-range-start: 75vh;
    animation-range-end: cover;

    scale: 1;
    opacity: 1;
}

.description-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    animation: fade-in-out ease-in-out forwards;
    animation-timeline: view();
    animation-range: normal;

    scale: 1.5;
    opacity: 0;
}

#description-section {
    font-size: clamp(0.8em, 2vw, 1em);
}

.description-header {
    margin: 0;
    padding: 0;

    font-size: clamp(1.2em, 4vw, 1.6em);
    font-weight: 600;
    line-height: 1.1;
}

summary {
    text-align: center;
    font-weight: 500;
}

details {
    font-size: clamp(0.8em, 2vw, 1em);
    color: #5d85f3;
}

#landing-section {
    justify-content: center;
}

#scroll-lottie {
    width: 64px;
    height: 64px;
}

.sub-header {
    position: sticky;
    top: 8px;
    margin: 0;
    width: 100%;
    padding: 8px;
    padding-left: 16px;

    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 8px;
    background-color: black;
    color: white;

    font-family: Kanit;
    font-style: italic;
    font-size: clamp(1.2em, 4vw, 1.6em);
    font-weight: 400;
    line-height: 1.1;
    z-index: 10;
}

p {
    max-width: 700px;
    padding-inline: 8px;
    margin-inline: 8px;
    padding-block: 4px;
    margin-block: 4px;
    text-align: center;
    font-size: clamp(1em, 3vw, 1.2em);
}

.highlight {
    background-color: white;
    color: black;
    font-weight: 500;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 4px;
}

.download {
    color: white;
    font-weight: 500;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 4px;
    background-color: #3357bb;
    transition: 0.2s all ease-in-out;
}

.download:hover {
    background-color: #5d85f3;
}

#introduction-section p {
    animation: fade-in-out ease-in-out forwards;
    animation-timeline: view();
    animation-range: normal;

    scale: 1.5;
    opacity: 0;
}

#tools-section h3 {
    color: #808080;
    text-align: center;
    font-weight: 400;
    font-size: clamp(0.8em, 2vw, 1em);
    margin: 8px;
}

.auto-scroll {
    overflow: hidden;
    display: flex;
    position: relative;
    white-space: nowrap;
    width: 100vw;
    margin-bottom: 16px;
}
.auto-scroll:after,
.auto-scroll:before {
    position: absolute;
    pointer-events: none;
    top: 0;
    width: 10vw;
    height: 100%;
    content: "";
    z-index: 2;
}
.auto-scroll:after {
    right: 0;
    background: linear-gradient(to left, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}
.auto-scroll:before {
    left: 0;
    background: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}
.auto-scroll:hover .tools {
    animation-play-state: paused;
}
.tools {
    animation: 15s slide infinite linear;
    display: inline-block;
    margin: 0 2px;
}
.tools a {
    text-decoration: none;
    margin: 0 4px;
}
.tools a span {
    color: #606060;
    font-weight: 500;
    font-size: clamp(1em, 3vw, 1.4em);
    background-color: #202020;
    border-radius: 6px;
    padding-left: 12px;
    padding-right: 12px;
    transition: 0.2s all ease-in-out;
}
.tools a:hover span {
    background-color: #3357bb;
    color: white;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    animation: fade-in linear forwards;
    animation-timeline: view();
    animation-range-start: cover;
    animation-range-end: 50vh;

    scale: 1.5;
    opacity: 0;
}

.profile img {
    width: clamp(128px, 50vw, 192px);
    border-radius: 8px;
    border: 2px solid #303030;
}

.socials {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.socials a {
    height: clamp(36px, 10vw, 54px);
    width: clamp(36px, 10vw, 54px);
}

.socials lottie-player {
    height: 100%;
    width: 100%;
}

@keyframes slide {
    from{
        transform: translateX(0);
    }to{
        transform: translateX(-100%);
    }
}

@keyframes fade-in {
    /* from { opacity: 0; } */
    to{ 
        scale: 1;
        opacity: 1; 
    }
}

@keyframes fade-out {
    to{
        scale: 1.5;
        opacity: 0;
    }
}

@keyframes fade-in-out {
    50%{ 
        scale: 1;
        opacity: 1; 
    }
    100%{ 
        scale: 1.5;
        opacity: 0; 
    }
}